$box_color: rgb(231, 231, 1);
$box_color_1:rgb(41, 23, 199);
$box_color_2:rgb(0, 252, 134);
$box_color_3:rgb(153, 0, 255);
$box_color_4: rgb(255, 0, 212);
$box_color_5:rgb(255, 174, 0);
$box_color_6: rgb(252, 0, 0);
$con-width:98vw;
$con-height:100vh;
$center:center;

* {
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto;
    grid-gap: 0.5rem;
    width: $con-width;
    height: $con-height;
}

.item {
    padding: 1em;
    text-align: $center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    background-color: $box_color;
}

.item:nth-child(1) {
    grid-column: span 12;
}

.item:nth-child(1):hover {
    background-color: $box_color_1;
}

.item:nth-child(2),
.item:nth-child(3) {
    grid-column: span 6;
}

.item:nth-child(2):hover,
.item:nth-child(3):hover {
    background-color: $box_color_2;
}

.item:nth-child(4),
.item:nth-child(5),
.item:nth-child(6) {
    grid-column: span 4;
}

.item:nth-child(4):hover,
.item:nth-child(5):hover,
.item:nth-child(6):hover {
    background-color: $box_color_3;
}

.item:nth-child(7),
.item:nth-child(8),
.item:nth-child(9),
.item:nth-child(10) {
    grid-column: span 3;
}

.item:nth-child(7):hover,
.item:nth-child(8):hover,
.item:nth-child(9):hover,
.item:nth-child(9):hover {
    background-color: $box_color_4;
}

.item:nth-child(11),
.item:nth-child(12),
.item:nth-child(13),
.item:nth-child(14),
.item:nth-child(15),
.item:nth-child(16) {
    grid-column: span 2;
}

.item:nth-child(11):hover,
.item:nth-child(12):hover,
.item:nth-child(13):hover,
.item:nth-child(14):hover,
.item:nth-child(15):hover,
.item:nth-child(16):hover {
    background-color: $box_color_5;
}

.item:hover {
    background-color: $box_color_6;
}